# ======================================================
# Python
# ======================================================
venv/
__pycache__/
*.py[cod]
*.pyd

# ======================================================
# Environment
# ======================================================
.env
.env.*

# ======================================================
# Model files
# ======================================================
*.pt
*.pth
*.onnx

# ======================================================
# Datasets
# ======================================================
data/images/
data/videos/
data/extracted_frames/
data/processed_video/

datasets/*
!datasets/.gitkeep

# ======================================================
# Generated outputs
# ======================================================
outputs/
runs/
logs/

# ======================================================
# Trained models
# ======================================================
models/*
!models/.gitkeep

# ======================================================
# Jupyter
# ======================================================
.ipynb_checkpoints/

# ======================================================
# IDE
# ======================================================
.vscode/
.idea/

# ======================================================
# OS
# ======================================================
.DS_Store
Thumbs.db